.answer {
  
  .details {
    font-size: smaller;
    color: #999;

    a {
      color: #999;
    }
  }

  .options {
  	font-size: smaller;
  	a {
      color: #999;
    }
  }

  .green {
  	color: green;
  }

  margin-bottom: 10px;
}

